<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FabricaABehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="FabricanteA.FabricanteAService" behaviorConfiguration="FabricaABehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9010/FabricanteAService" />
          </baseAddresses>
        </host>
        <endpoint address="FabricanteAService" binding="basicHttpBinding" contract="FabricanteA.IFabricanteAService" />
        <endpoint address="FabricanteAService/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
     </services>
  </system.serviceModel>
</configuration>