<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <!--<system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="BackOffice.WebSiteService">
                <endpoint address="" binding="basicHttpBinding" contract="BackOffice.IWebSiteService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/BackOffice/WebSiteService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>-->
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="BackOffice.BackOfficeCallBackService">
                <endpoint address="" binding="basicHttpBinding" contract="BackOffice.IBackOfficeCallBackService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/BackOffice/BackOfficeCallBackService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITransportadoraService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9002/TransportadoraService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransportadoraService"
                contract="TransportadoraServiceReference.ITransportadoraService"
                name="BasicHttpBinding_ITransportadoraService" />
        </client>
    </system.serviceModel>
</configuration>
