<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="BOCallBackBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                  <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
                <behavior name="WebSiteServiceBehavior">
                  <serviceMetadata httpGetEnabled="true" />
                  <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="BackOffice.WebSiteService" behaviorConfiguration="WebSiteServiceBehavior">
              <host>
                <baseAddresses>
                  <add baseAddress="http://localhost:9001/" />
                </baseAddresses>
              </host>
              <endpoint address="WebSiteService" binding="webHttpBinding" contract="BackOffice.IWebSiteService" />
              <endpoint address="WebSiteService/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
            <service name="BackOffice.BackOfficeCallBackService" behaviorConfiguration="BOCallBackBehavior">
                <host>
                  <baseAddresses>
                    <add baseAddress="http://localhost:9003/" />
                  </baseAddresses>
                </host>
                <endpoint address="BackOfficeCallBackService" binding="basicHttpBinding" contract="BackOffice.IBackOfficeCallBackService" />
                <endpoint address="BackOfficeCallBackService/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITransportadoraService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9002/TransportadoraService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransportadoraService"
                contract="TransportadoraServiceReference.ITransportadoraService"
                name="BasicHttpBinding_ITransportadoraService" />
        </client>
    </system.serviceModel>
</configuration>
