<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="TransportadoraBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Transportadora.TransportadoraService" behaviorConfiguration="TransportadoraBehavior">
                <host>
                    <baseAddresses>
                      <add baseAddress="http://localhost:9002/TransportadoraService/" />             
                    </baseAddresses>
                </host>
                <endpoint address="" binding="basicHttpBinding" contract="Transportadora.ITransportadoraService" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
