<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBackOfficeCallBackService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9003/BackOfficeCallBackService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBackOfficeCallBackService"
        contract="BOCallBack.IBackOfficeCallBackService" name="BasicHttpBinding_IBackOfficeCallBackService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FabricaBBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="FabricanteB.FabricanteBService" behaviorConfiguration="FabricaBBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9011/FabricanteBService" />
          </baseAddresses>
        </host>
        <endpoint address="FabricanteBService" binding="basicHttpBinding" contract="FabricanteB.IFabricanteBService" />
        <endpoint address="FabricanteBService/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>