<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="WebSiteNotificationServiceBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Website.WebsiteNotificationService" behaviorConfiguration="WebSiteNotificationServiceBehavior">
              <host>
                <baseAddresses>
                  <add baseAddress="http://localhost:9010/"/>
                </baseAddresses>
              </host>
              <endpoint address="WebsiteNotificationService" binding="webHttpBinding" contract="Website.IWebsiteNotificationService">
              </endpoint>
              <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
            </service>
        </services>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>


