<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FabricaCBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="FabricanteC.FabricanteCService" behaviorConfiguration="FabricaCBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9012/FabricanteCService" />
          </baseAddresses>
        </host>
        <endpoint address="FabricanteCService" binding="basicHttpBinding" contract="FabricanteC.IFabricanteCService" />
        <endpoint address="FabricanteCService/mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
</configuration>